<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>サモランクイズ</title>
    <link href="images/weapon/spshu.png" rel="icon">
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      canvas {
        background: #eee;
        display: block;
        margin: 0 auto;
      }
      @font-face {
        font-family: 'ikamodoki1_0';   /* フォント名 */
        src: url('font/ikamodoki1_0.ttf') format('truetype');   /* フォントファイル */
      }
    </style>
  </head>
  <body>
    <canvas id="canvas" width="1920" height="1080"></canvas>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.1.2/sprintf.min.js"></script>
	<script src="js/calc.js"></script>
	<script src="js/const.js"></script>
	<script type="module" src="js/base_class.js"></script>
	<script type="module" src="js/common.js"></script>
	<script type="module" src="js/mode_select.js"></script>
	<script type="module" src="js/weapon_quiz.js"></script>
	<script type="module" src="js/weapon_quiz_result.js"></script>
	<script type="module" src="js/normal_quiz.js"></script>
	<script type="module">
		import { ModeSelect } from "./js/mode_select.js";
		import { Common } from "./js/common.js";
		var CANVAS_MARGIN_TOP = 100;
		
		/**
		 * 初回起動
		 */
		window.onload = () => {
			var fonts = document.fonts;
			var p = fonts.load('10px ' + FONT_IKA);
			p.then(() => {
				Common.changeMode(new ModeSelect());
			});
		}
		
		/**
		 * キャンバス内クリック判定処理
		 * @param {Object} event DOMイベント
		 */
		window.canvas.onclick = (event) => {
			if(!Common.isCollision) return ;
    		const rect = event.target.getBoundingClientRect();
    		let mouse = {x: event.clientX - rect.left, y: event.clientY - rect.top};
            for (let i = 0; i < Common.modeObject.objCols.length; i++) {
				if((Common.modeObject.objCols[i].state & TEXT_STATE.IS_BUTTON) == false) continue;
				if((Common.modeObject.objCols[i].state & TEXT_STATE.ENABLE) == false) continue;
				if((Common.modeObject.objCols[i].state & TEXT_STATE.ACTIVE) == false) continue;
				if(collision(Common.modeObject.objCols[i].centerX, Common.modeObject.objCols[i].centerY, Common.modeObject.objCols[i].scaleX, Common.modeObject.objCols[i].scaleY, mouse.x, mouse.y) == false) {
					continue;
				}
				Common.modeObject.click(Common.modeObject.objCols[i]);
				break;
			}
		}
		
		/**
		 * マウスホバー処理
		 * @param {Object} event DOMイベント
		 */
		canvas.onmousemove = (event) => {
			if(!Common.isCollision) return ;
    		const rect = event.target.getBoundingClientRect();
    		let mouse = {x: event.clientX - rect.left, y: event.clientY - rect.top};
			
            for (let i = 0; i < Common.modeObject.objCols.length; i++) {
				if((Common.modeObject.objCols[i].state & TEXT_STATE.IS_BUTTON) == false) continue;
				if((Common.modeObject.objCols[i].state & TEXT_STATE.ENABLE) == false) continue;
				if((Common.modeObject.objCols[i].state & TEXT_STATE.ACTIVE) == false) continue;
				if(collision(Common.modeObject.objCols[i].centerX, Common.modeObject.objCols[i].centerY, Common.modeObject.objCols[i].scaleX, Common.modeObject.objCols[i].scaleY, mouse.x, mouse.y) == false) {
					if(Common.modeObject.objCols[i].state & TEXT_STATE.HOVER) {
						// ボタン消灯
						Common.modeObject.objCols[i].state &= ~TEXT_STATE.HOVER;
						Common.drawAll(Common.modeObject.objCols);
					}
					continue;
				}
				Common.modeObject.hover(Common.modeObject.objCols[i]);
				if(Common.modeObject.objCols[i].state & TEXT_STATE.HOVER){
					continue;
				}
        		// ボタン点灯
				Common.modeObject.objCols[i].state |= TEXT_STATE.HOVER;
				Common.drawAll(Common.modeObject.objCols);
			}
		}
    </script>
  </body>
</html>